* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2f;
    color: #f8f8f2;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #282a36;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ff79c6;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f8f8f2;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #50fa7b;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #282a36;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash.success {
    background-color: #50fa7b;
    color: #282a36;
}

.flash.error {
    background-color: #ff5555;
    color: white;
}

h2 {
    color: #ff79c6;
}

h3 {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #44475a;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #50fa7b;
    border: none;
    border-radius: 5px;
    color: #282a36;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #40e36b;
}


.card-container {
    display: flex;
    justify-content: center; /* Centers cards horizontally */
    flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
    gap: 20px; /* Adds space between the cards */
}

.card_video_a, .card_video_b, .card_video_c {
    width: 350px; /* Set width */
    height: 500px; /* Set height */
    background-color: rgba(128, 128, 128, 0.521);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow */
    border-radius: 10px; /* Optional: Adds border radius */
}

.card_video_c {
    width: 350px; /* Set width */
    height: 500px; /* Set height */
    background-color: rgba(128, 128, 128, 0.521);
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow */
    border-radius: 10px; /* Optional: Adds border radius */
    float: right;
    margin-top: -0.3%;
}

