<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Exoplanet Explorer" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>  
        <div class="logo">
            <h1>🌌 Cosmic Flare</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('library') }}">Library</a></li>
                <li><a href="{{ url_for('create_planet') }}">Create Planet</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="#">Quizes</a></li>
                <li><a href="#">Exo-community</a></li>
                <li><a href="https://www.sketchbook.com/">Create your own comics</a></li>
                <li><a href="https://www.canva.com/create/comic-strips/">Comic Strip for You</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
