{% extends 'base.html' %}
{% block content %}
<h2>Library</h2>
<h3>Quizzes</h3>
<ul>
    {% for quiz in quizzes %}
        <li><a href="{{ url_for('quiz', quiz_name=quiz) }}">{{ quiz }}</a></li>
    {% endfor %}
</ul>
<h3>Books</h3>
<ul>
    {% for book in books %}
        <li>{{ book.title }} by {{ book.author }}</li>
    {% endfor %}
</ul>
<h3>Mini Videos</h3>
<ul>
    {% for video in videos %}
        <li><a href="{{ video.url }}">{{ video.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
