{% extends 'base.html' %}
{% block content %}
<div class="form-container">
    <form method="post" class="register-form">
        <div class="input-group">
            <h2>Registration</h2>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    
</div>
{% endblock %}
